<?xml version ="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="CodeMax Test Preparation">

	<listeners>
		<listener class-name="com.src.main.CommonUtilLayer.ExtentReporterNG" />
	</listeners>

	<test name="CodeNax Test">
		<classes>

			<class name="com.src.test.TestLayer.RegisterFormPageTest"></class>

		</classes>


	</test>


</suite>